<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Balance</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>

        <ion-row>

          <ion-col>
            <ion-title>Fecha</ion-title>
          </ion-col>

          <ion-col>
            <ion-title>Concepto</ion-title>
          </ion-col>

          <ion-col>
            <ion-title>Monto</ion-title>
          </ion-col>

        </ion-row>

        <ion-row *ngFor="let tran of transacciones">

          <ion-col>
            <ion-title>{{ tran.fecha }}</ion-title>
          </ion-col>

          <ion-col>
            <ion-title>{{ tran.concepto }}</ion-title>
          </ion-col>

          <ion-col>
            <ion-title>{{ tran.monto }}</ion-title>
          </ion-col>

        </ion-row>

      </ion-grid>

      <ion-button routerLink="/principal">Volver</ion-button>

    </ion-card-content>

  </ion-card>
  
</ion-content>