
<ion-card>

  <ion-card-header>
    <ion-card-title>Crear Administrador</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <form>

      <ion-input placeholder="Nombre de entidad deportiva"></ion-input>

      <ion-input placeholder="Direccion"></ion-input>

      <ion-input placeholder="Web"></ion-input>

      <ion-input placeholder="Contacto"></ion-input>

      <ion-button (click)="presentToast()">Crear</ion-button>

      <ion-button routerLink="/perfiles">Cancelar</ion-button>

    </form>

  </ion-card-content>

</ion-card>