<ion-card>

  <ion-card-header>
    <ion-card-title>Crear Actividad</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <form>

      <ion-input placeholder="Nombre"></ion-input>

      <ion-datetime placeholder="Desde" displayFormat="DD-MM-YYYY"></ion-datetime>

      <ion-datetime placeholder="Hasta" displayFormat="DD-MM-YYYY"></ion-datetime>

      <ion-input placeholder="Dias"></ion-input>

      <ion-input placeholder="Horario"></ion-input>

      <ion-input placeholder="Precio"></ion-input>

      <ion-button routerLink="/actividades">Crear</ion-button>

      <ion-button routerLink="/actividades">Cancelar</ion-button>

    </form>

  </ion-card-content>

</ion-card>